<?xml version="1.0"?>
<launch>

    <rosparam command="delete" param="/art/instructions"/>
    <rosparam command="load" ns="/art/instructions" file="$(find art_setup_3)/config/instructions.yaml"/>

    <group ns="/art/conf">
      <param name="table/size" value="1.02,0.667"/>
    </group>

    <rosparam command="delete" param="/art/interface/projected_gui/plugins"/>
    <rosparam command="load" ns="/art/interface/projected_gui/plugins" file="$(find art_setup_3)/config/gui.yaml"/>

    <include file="$(find art_simple_tracker)/launch/art_simple_tracker.launch">
        <arg name="ground_objects_on_table" value="true"/>
        <arg name="ground_bb_axis" value="2"/>
    </include>

    <include file="$(find art_niryo)/launch/bringup.launch"/>

    <arg name="projectors" default="localhost"/>
    <arg name="scene_server" default="localhost" />
    <arg name="scene_size" default="1.0,0.6"/>
    <arg name="scene_origin" default="0,0"/>
    <arg name="rpm" default="2000"/>
    <arg name="empty_robot" default="false"/>

    <group ns="/art/interface/projected_gui">
        <param name="scene_origin" value="$(arg scene_origin)"/>
        <param name="scene_size" value="$(arg scene_size)"/>
        <param name="rpm" value="$(arg rpm)"/>
        <param name="scene_server" value="$(arg scene_server)"/>
        <param name="scene_server_port" value="1234"/>
    </group>
    
    
    <include file="$(find art_setup_3)/launch/kinect.xml"/>
    
    <include file="$(find art_calibration)/launch/calibration_marker_detector.launch"/>

    <include file="$(find art_calibration)/launch/art_calibration.launch">
      <arg name="cells" value="localhost"/>
      <arg name="x_offset" value="0.208"/>
      <arg name="y_offset" value="0.122"/>
      <arg name="z_offset" value="0.0"/>
    </include>

    <include file="$(find art_projected_gui)/launch/app.launch">
        <arg name="scene_server" value="localhost"/>
        <arg name="scene_size" value="1.02, 0.667"/>
        <arg name="scene_origin" value="0.0, 0.0"/>
    </include>

    <include file="$(find art_touch_driver)/launch/touch.launch">
        <arg name="calib_x_min" value="0.1"/>
        <arg name="calib_x_max" value="0.9"/>
        <arg name="calib_y_min" value="0.10"/>
        <arg name="calib_y_max" value="0.55"/>
    </include>

    <include file="$(find art_sound)/launch/node.launch">
        <arg name="machine" value="localhost"/>
    </include>

    <include file="$(find art_projector)/launch/projector.launch">
        <arg name="padding_top" value="50"/>
    </include>

    <include file="$(find art_setup_3)/launch/detectors.launch">
    </include>

    <node pkg="tf" type="static_transform_publisher" args="0.5 0.55 0 -1.570796 0 0 marker /ground_link 10" name="robot_to_marker_transform"/>
    
</launch>
